<!-- <%= name %> Team -->
<div class="bg-gray-100 rounded-lg shadow-md p-6">
    <div class="flex items-center justify-center mb-4">
      <img
        src="./assets/flags/<%= flag %>"
        alt="<%= name %> Flag"
        class="h-8 w-12 mr-2"
      />
      <h2 class="text-2xl font-bold text-gray-800"><%= name %></h2>
    </div>

    <% for( let index = 0; index < tournamentAcronyms.length; index++ ) { %>
      <% if (players[tournamentAcronyms[index]]) { %>
        <%- include(
          '_teamDetail',
          players[tournamentAcronyms[index]]
        ) %>
      <% } %>
    <% } %>


  </div>